<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Anuncios</title>
</head>
<body>
<div th:fragment="formEdicao">
  <form method="post" th:action="@{/atualizarAnuncio/{idAnuncio}(idAnuncio = ${idAnuncio})}" th:object="${anuncioRequest}">
    <h2>Edição de Anuncio</h2>
    <input type="hidden" th:field="${idAnuncio}">
    <br/>
    <table>
      <tr>
        <td>Titulo:</td>
        <td><input type="text" size="50" th:field="*{titulo}"></td>
      </tr>
      <tr>
        <td>Texto do anuncio:</td>
        <td><input type="text" size="20" th:field="*{textoAnuncio}"></td>
      </tr>
      <tr>
        <td>URL do anuncio:</td>
        <td><input type="text" size="50" th:field="*{urlAnuncio}"></td>
      </tr>
      <tr>
        <td>Tipo do anuncio:</td>
        <td><input type="text" size="50" th:field="*{tipoAnuncio}"></td>
      </tr>
      <tr>
        <td>Data da criação:</td>
        <td><input type="text" size="50" th:field="*{dataCriacao}"></td>
      </tr>
      <tr>
        <td>Impressões:</td>
        <td><input type="text" size="50" th:field="*{impressoes}"></td>
      </tr>
      <tr>
        <td>Quantidade de cliques:</td>
        <td><input type="text" size="50" th:field="*{qtdCliques}"></td>
      </tr>
      <tr>
        <td>Custo do anuncio:</td>
        <td><input type="text" size="50" th:field="*{custoAnuncio}"></td>
      </tr>
      <tr>
        <td>Usuario</td>
        <td><input type="text" size="50" th:field="*{usuario}"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Gravar"></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>